<!-- app-side-bar.component.html -->

<div class="sidebar" [class.collapsed]="selectedItem !== null">
  <div *ngFor="let item of sidebarItems" class="sidebar-item" routerLink={{item.route}}>
    <mat-icon class="material-icons-outlined" color="primary">{{
      item.icon
    }}</mat-icon>
    <span>{{ item.name }}</span>
  </div>
  <div class="space"></div>
  <div class="sidebar-item exit">
    <mat-icon class="material-icons-outlined exit" color="primary"
      >exit_to_app</mat-icon
    >
    <span>Sair</span>
  </div>
</div>
